header{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.66667;
    font-weight: 300;
    color: rgba(21, 21, 21, 0.8);
    letter-spacing: -0.03em;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1070;
}    
.rd-navbar-wrap{
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    height: 121px;
}
